<header
  class="sticky top-0 z-50 w-full px-4 h-[51px] flex items-center justify-between gap-4 text-on-surface border-gray-100"
  >

  <!-- Left Section (Menu + Breadcrumbs) -->
  <div class="flex items-center flex-1 gap-3 overflow-x-auto min-w-0 scrollbar-hidden">
    @if ($screenSize.isMobile$()) {
      <button class="material-icons text-xl text-inherit shrink-0" (click)="toggleDrawer.emit()">
        menu
      </button>
    }@else {
       <app-breadcrumbs></app-breadcrumbs>
    }

   
  </div>

  <!-- Right Section (Optional actions in future) -->
  <div class="shrink-0 hidden sm:flex items-center"></div>
</header>