<header
  class="sticky top-0 z-50 w-full border-b px-4 h-[51px] flex items-center justify-between gap-4"
  [ngClass]="{
    'bg-slate-900 text-slate-100 border-slate-700': $themeService.isDarkTheme(),
    'bg-[#FAF8FD] text-on-surface border-gray-100': !$themeService.isDarkTheme()
  }">

  <!-- Left Section (Menu + Breadcrumbs) -->
  <div class="flex items-center flex-1 gap-3 overflow-x-auto min-w-0 scrollbar-hidden">
    @if ($screenSize.isMobile$()) {
      <button class="material-icons text-xl text-inherit shrink-0" (click)="toggleDrawer.emit()">
        menu
      </button>
    }@else {
       <app-breadcrumbs></app-breadcrumbs>
    }

   
  </div>

  <!-- Right Section (Optional actions in future) -->
  <div class="shrink-0 hidden sm:flex items-center"></div>
</header>